<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Change</title>
  <link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/static/changelog.css">
</head>
<body>

  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="/" class="header item">
        Changelog
      </a>
      <a href="/change/{{change.id}}/json" class="header right item">
        JSON for this change
      </a>

    </div>
  </div>
  <div class="ui main text container">
    <h1 class="ui header">{{change.project}}: {{change.message}}</h1>
    <ul>
    {% for k, v in change.items()|sort %}
      {% if k == "url" %}
      <li><strong>{{k}}</strong>: <a href="{{v}}">{{v}}</a></li>
      {% else %}
      <li><strong>{{k}}</strong>: {{v}}</li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="https://www.mozilla.org">Mozilla</a>
      </div>
    </div>
  </div>
</body>

</html>
