{% extends "base.html" %}
{% block content %}
    <h1 class="ui header">Changelog</h1>
    <table class="ui celled table">
  <thead>
    <tr>
      <th>When</th>
      <th>Project</th>
      <th>What</th>
      <th>Who</th>
    </tr>
  </thead>
  <tbody>
    {% for change in changelog %}
    <tr>
      <td>{{change.date_str}}</td>
      <td>{{change.project}}</td>
      <td>
        <a href="/change/{{change.id}}">
          {{change.message}}
        </a>
      </td>
      <td>{{change.author}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
