{% extends "base.html" %}
{% block content %}

    <h1 class="ui header">Watch list</h1>

    <div class="ui cards">

    {% for repo in repositories %}
  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="/static/gh.png">
      <div class="header">
        {{ repo["metadata"]["project"] }}
      </div>
      <div class="meta">
        {{ repo["metadata"]["owner"] }}
      </div>
      <div class="description">
        {{ repo["metadata"]["description"] }}.
        <a href="{{ repo["metadata"]["project"] }}">Visit homepage</a>
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
{% endblock %}
